@font-face{
	font-family: curls;
	src: url(curls.ttf);
}

@font-face{
	font-family: simple;
	src: url(GeosansLight.ttf);
}

body{
	font-family: simple;
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0.1);
}

/*ANSWERS FOR THE TEST*/

/*4*/
.pod{
	background-color: green;
	width: 100%;
	font-weight: bold;
	border-bottom: 1px solid blue;
}

/*5*/
p .token .key{
	color: red;
}

/*8*/
.nav-item:hover {
    color: red;
    transition: color 2s;
}

.box{
	border: 0.5px solid black;
	background-color: rgba(100,100,100,0.3);
	height: 50vh;
	font-size: 0.8em;
}

.smallbox{
	height: 25vh;
	cursor: pointer;
}

h1{
	font-family: curls;
	color: rgba(0,0,0,0.7);
	text-shadow: 1px 2px 5px rgba(0,0,0,0.2);
	font-size: 6em;
	margin-bottom: 8%;
	margin-left: 20%;
	margin-top: 20%;
	color: black;
}

h2{
	
	z-index: 10;
	position: relative;
	text-shadow: 1px 2px 5px rgba(0,0,0,0.2);
	font-size: 1.5em;
	color: #EE2C7B;
	text-align: center;
	padding: 3%;
}


div.buttons, input, #submit_but{
	padding-top: 3%; 
	padding-bottom: 3%;
	font-size: 1.1em;
	cursor: pointer;
	background-color: white;
	border-radius: 30px;
	box-shadow: 1px 2px 7px rgba(100,100,100,0.2);
	margin-bottom: 3%;
	border: none;
	text-align: center;
	width: 100%;
	color: black;
}


input:focus{
	border: none;
}

a{
	text-decoration: none;
	color: grey;
	font-size: 1.1em;
}

a:hover{
	color: black;
	text-decoration: none;
}

#form_outline{
	text-align: center;
	height: 60vh;
	margin-top: 20vh; 
}

#form_outline_login{
	text-align: center;
	height: 70vh;
	margin-top: 15vh; 
}

#form_outline_signup{
	text-align: center;
	height: 70vh;
	margin-top: 8vh; 
}

#form_outline_newJelly{
	text-align: center;
	height: 30vh;
	margin-top: 75vh; 
}

.email_signup{
	margin-left: 25%;
}

.pass_signup{
	margin-left: 45%;
}

.submit_signup{
	margin-left: 55%;
}


.button_images{
	width: 2.5vw;
	margin-right: 10%;
}

.nav{
	background: none;
	text-align: center;
	width: 8%;
	position: fixed;
	z-index: 10;
}

.links{
	height: 10vh;
	width: 100%;
	margin-top: 7vh;
	border-bottom: 1px solid rgba(100,100,100,0.2);
}



#sideNav{
	position: fixed;
	background-color: white;
	height: 100vh;
	max-height: 100%;
	box-shadow: 2px 0px 10px 2px rgba(100,100,100,0.2);
}

#graph_div{
	background-color: white;
	height: 45vh;
	padding: 1%;
	padding-left: 5%;
	padding-right: 5%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
}

.graphs{
	height: 35vh;
	width: 80%;
	margin-left: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.list_div{
	background-color: white;

	padding: 2%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
}

#comments-div{
	background-color: white;
	height: 36vh;
	padding: 2%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
}

.bean_logo{
	margin-top: -6vh;
	width: 100%;
}

.card{
	margin-bottom: 5%;
	height: 50vh;
	cursor: pointer;
}

.row .col-lg-10{
	margin-left: 12%;
}

.curly{
	font-family: curls;
}

.bean_pic_mang{
	height: 35vh;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-left: 10%;
	background-color: red;
}

#bean_homepage{
	text-align: center;
}

#big_bean_homepage{
	width: 100%;
	height: 85vh;
	background-color: rgba(255,255,255,0.5);
	position: relative;
	z-index: 2;
}

